body{
    background-color: yellowgreen;
}





#text-res-real{
    text-align:center;
    font-size:50px;
    font-family: 'Stalinist One', cursive;
    width: 900px;
    transform: translate(230px,156px);
}

#buton-menu-princip{
    transform: translate(470px,200px);
    background-color: transparent;
    width: 360px;
    text-align: center;
    padding: 10px;
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 50px;
    color: white;
    border: white 0px solid;
    transition: 0.1s;
    transition-timing-function: ease-out;
    
    
}

#buton-menu-princip:hover{
    
    border: black 5px  solid;
    box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;
    
    color: black;

    
   
}

a{
    text-decoration: none;
}