

                                                                /*@MEDIA = 300px*/

 @media only screen and (min-width: 300px) {
 body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-position: -330px 0px;
  }
  
  h1 {
  color: rgb(226, 26, 19);
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 30px;
    width: 100%;
}

h2 {
  position: fixed;
  font-size: 20px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translate(120px, 370px);
  border: white 5px solid;
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
   color: white;

  text-align: right;

  opacity: 0%;
}
#fot_2 {
   color: white;

  text-align: right;

  opacity: 0%;
}

#fot_3 {
  color: white;

  text-align: right;

  opacity: 0%;
  }



}
                                                               
                                                                /*@MEDIA = 500px*/
@media only screen and (min-width: 500px) {
 body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  h1 {
  color: yellowgreen;
  text-align: center;
  
  font-family: "Anton", sans-serif;
  font-size: 35px;
    width: 100%;
}

h2 {
  position: fixed;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0,4s;
  transition-timing-function: ease-out;
  transform: translate(200px, 230px);
  border: white 5px solid;
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
   color: white;

  text-align: right;

  opacity: 0%;
}
#fot_2 {
   color: white;

  text-align: right;

  opacity: 0%;
}

#fot_3 {
  color: white;

  text-align: right;

  opacity: 0%;
  }

}

                                                                /*@MEDIA = 600px*/
@media only screen and (min-width: 600px) {
 body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  h1 {
  color: yellowgreen;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  width: 100%;
 
}

h2 {
  
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translate(290px, 187px);
  border: white 5px solid;
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
   color: white;

  text-align: right;

  opacity: 0%;
}
#fot_2 {
   color: white;

  text-align: right;

  opacity: 0%;
}

#fot_3 {
  color: white;

  text-align: right;

  opacity: 0%;
  }
}


                                                                /*@MEDIA = 768px*/
@media only screen and (min-width: 768px) {
 body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  h1 {
  color: yellowgreen;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 55px;
  width: 700px;
  transform: translate(70px,0px);

}

h2 {
  position: fixed;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translate(350px, 70px);
  border: white 5px solid;
  
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
  color: white;
  text-align: right;
  transform: translate(-10px, 28px);
  opacity: 100%;
}

#fot_2 {
  color: white;
  transform: translate(-10px, 100px);

  opacity: 0%;
  transition: 0.3s;
  transition-timing-function: ease-in;
  text-align: right;
  transform: translate(0px, 40px);
}

footer:hover #fot_2 {
  opacity: 100%;
}

#fot_3 {
  color: white;

  text-align: right;

  opacity: 0%;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

footer:hover #fot_3 {
  transform: translate(0px, 60px);
  opacity: 100%;
}

footer {
  background-color: black;
  transform: translate(-8px, 378px);
  width: 100%;
  position: absolute;
  height: 118px;
  
  transition-timing-function: ease-in;
  line-height: 0px;
 
  
}

footer:hover {
  height: 190px;
  transform: translate(-8px, 305px);
}

footer:hover p {
  line-height: 20px;
}
 
  }
                                                                /*@MEDIA = 800px*/

@media only screen and (min-width: 800px) {
 body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  h1 {
  color: yellowgreen;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 55px;
  padding-left: 50px; 
  width: 100%;
    
}

h2 {
  position: fixed;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translate(360px, 70px);
  border: white 5px solid;
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
  color: white;
  text-align: right;
  transform: translate(-10px, 28px);
  opacity: 100%;
}

#fot_2 {
  color: white;
  transform: translate(-10px, 100px);

  opacity: 0%;
  transition: 0.3s;
  transition-timing-function: ease-in;
  text-align: right;
  transform: translate(0px, 40px);
}

footer:hover #fot_2 {
  opacity: 100%;
}

#fot_3 {
  color: white;

  text-align: right;

  opacity: 0%;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

footer:hover #fot_3 {
  transform: translate(0px, 60px);
  opacity: 100%;
}

footer {
  background-color: black;
  transform: translate(-8px, 376px);
  width: 100%;
  position: absolute;
  height: 118px;
  transition: 0.15s;
  transition-timing-function: ease-in;
  line-height: 0px;
  
  
  
  
}

footer:hover {
  height: 190px;
  transform: translate(-8px, 305px);
}

footer:hover p {
  line-height: 20px;
}
}

                                                                /*@MEDIA = 900px*/
@media only screen and (min-width: 900px) {
body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  h1 {
  color: yellowgreen;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 60px;
}

h2 {
  position: fixed;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translate(430px, 70px);
  border: white 5px solid;
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
  color: white;
  text-align: right;
  transform: translate(-10px, 28px);
  opacity: 100%;
}

#fot_2 {
  color: white;
  transform: translate(-10px, 100px);

  opacity: 0%;
  transition: 0.3s;
  transition-timing-function: ease-in;
  text-align: right;
  transform: translate(0px, 40px);
}

footer:hover #fot_2 {
  opacity: 100%;
}

#fot_3 {
  color: white;

  text-align: right;

  opacity: 0%;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

footer:hover #fot_3 {
  transform: translate(0px, 60px);
  opacity: 100%;
}

footer {
  background-color: black;
  transform: translate(-8px, 363px);
  width: 100%;
  position: absolute;
  height: 118px;
  transition: 0.15s;
  transition-timing-function: ease-in;
  line-height: 0px;
  
  
  
}

footer:hover {
  height: 190px;
  transform: translate(-8px, 291px);
}

footer:hover p {
  line-height: 20px;
}
}


                                                                    /*@MEDIA = 1024px*/ 

  
  @media only screen and (min-width: 1024px) {
  body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  h1 {
  color: yellowgreen;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 60px;
}

h2 {
  position: fixed;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translate(530px, 160px);
  border: white 5px solid;
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
  color: white;
  text-align: right;
  transform: translate(-10px, 28px);
}

#fot_2 {
  color: white;
  transform: translate(-10px, 100px);

  opacity: 0%;
  transition: 0.3s;
  transition-timing-function: ease-in;
  text-align: right;
  transform: translate(0px, 40px);
}

footer:hover #fot_2 {
  opacity: 100%;
}

#fot_3 {
  color: white;

  text-align: right;

  opacity: 0%;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

footer:hover #fot_3 {
  transform: translate(0px, 60px);
  opacity: 100%;
}

footer {
  background-color: black;
  transform: translate(-8px, 347px);
  width: 100%;
  position: absolute;
  height: 118px;
  transition: 0.15s;
  transition-timing-function: ease-in;
  line-height: 0px;
  
}

footer:hover {
  height: 190px;
  transform: translate(-8px, 291px);
}

footer:hover p {
  line-height: 20px;
}
  
}


                                                                   /*@MEDIA = 1200px*/
@media only screen and (min-width: 1200px) {
body{
  background: url(pictures/UFOO.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  h1 {
  color:  rgb(221, 146, 7);
  font-family: "Anton", sans-serif;
  font-size: 60px;
  width: 600px;
  transform: translate(370px,0px);
}

h2 {
  position: fixed;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translate(600px, 160px);
  border: white 5px solid;
}

h2:hover {
  border-radius: 30px;
  box-shadow: rgb(255, 153, 0) 0px 22px 70px 4px;

  border: white 5px solid;
}
  
#fot_1 {
  color: white;
  text-align: right;
  transform: translate(-10px, 28px);
}

#fot_2 {
  color: white;
  transform: translate(-10px, 100px);

  opacity: 0%;
  transition: 0.3s;
  transition-timing-function: ease-in;
  text-align: right;
  transform: translate(0px, 40px);
}

footer:hover #fot_2 {
  opacity: 100%;
  transform: translate(-8px, 40px);
}

#fot_3 {
  color: white;

  text-align: right;
  
  opacity: 0%;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

footer:hover #fot_3 {
  transform: translate(-8px, 50px);
  opacity: 100%;
}

footer {
  background-color: black;
  transform: translate(-8px, 366px);
  width: 100%;
  position: absolute;
  height: 118px;
  transition: 0.15s;
  transition-timing-function: ease-in;
  line-height: 0px;
  
}

footer:hover {
  height: 190px;
  transform: translate(-8px, 300px);
}

footer:hover p {
  line-height: 20px;
}
  
}
