@media only screen and (min-width: 1200px) {
body {
  background: url(../sel_nav/pictures/fondo--gala.jpg) no-repeat center center
    fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  
}

#section_naves {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "Stalinist One", cursive;
  width: 900px;
  transform: translate(170px, 20px);
  position: fixed;
}

#logo {
  display: flex;
  width: 250px;
  height: 150px;
<<<<<<< HEAD
  transform: translate(1050px, 0px);
=======
  transform: translate(950px, -100px);
  transition: 0.3s;
  transition-timing-function: ease-out;
>>>>>>> 9adb501933bfae7e5617b6fa93e1d6af7dc119fd
  position: fixed;
  border: transparent 5px solid;
  border-radius: 30%;
  opacity: 30%;
  transition: 0.3s;
  transition-timing-function: ease-out;
  
}
#logo:hover {
  border: skyblue 5px solid;
  padding-left: 20px;
  background-color: red;
  padding-right: 20px;
  opacity: 100%;
}

#nau_P {
  background-color: transparent;
  border-radius: 10%;
  padding: 25px;
  width: 250px;
  height: 330px;
  float: left;
  transform: translate(50px, 220px);
  transition: 0.1s;
  transition-timing-function: ease-out;
  position: fixed;
}

#nau_P:hover {
  background-color: black;
  border: white 5px solid;
}

#text_nav_peq {
  color: white;
  text-align: center;
  width: 290px;
  transform: translate(-15px, 120px);
  font-weight: lighter;
  font-family: "Stalinist One", cursive;
  font-size: 20px;
}

#link-style-p {
  text-decoration: none;
}

#nau_M {
  background-color: transparent;
  border-radius: 10%;
  padding: 25px;
  width: 250px;
  height: 330px;
  float: left;
  transform: translate(500px, 220px);
  transition: 0.1s;
  transition-timing-function: ease-out;
  position: fixed;
}

#nau_M:hover {
  background-color: black;
  border: white 5px solid;
}

#text_nav_med {
  color: white;
  text-align: center;
  transform: translate(0px, 130px);
  font-weight: lighter;
  font-family: "Stalinist One", cursive;
  font-size: 20px;
}

#link-style-m {
  text-decoration: none;
}

#nau_G {
  background-color: transparent;
  border-radius: 10%;
  padding: 25px;
  width: 250px;
  height: 330px;
  float: left;
  transform: translate(900px, 220px);
  color: white;
  transition: 0.1s;
  transition-timing-function: ease-out;
}

#nau_G:hover {
  background-color: black;
  border: white 5px solid;
}

#text_nav_gra {
  color: white;
  text-align: center;
  transform: translate(0px, 140px);
  font-weight: lighter;
  font-family: "Stalinist One", cursive;
  font-size: 20px;
}

#link-style-g {
  text-decoration: none;
}
}

