body{
    background-image: url(pictures/UFOO.jpg);
   background-repeat: no-repeat;
    background-size: 1600px 650px;
    height:600px ;
}


h1{
    color: yellowgreen;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}

h2{
    font-size:20px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: rgb(184, 89, 0);
    background-color: transparent;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
    transition: 1s;
    transition-timing-function: ease-out;
    transform: translate(599px,280px);
    border:rgb(33, 235, 157) 5px solid;
}

h2:hover{
    border-radius: 30px;
    box-shadow: rgb(33, 235, 157) 0px 22px 70px 4px;
    
    border: white 5px solid;
        
}

#fot_1{
    color: white;
    text-align: right;
    transform: translate(0px,38px);
    
}

#fot_2{
    transform: translate(0px,4px);
    color: white;
    text-align: right; 
    opacity:0% ;
   
    
}

#fot_3{
    color:white;
    
    text-align: right;
    transform: translate(0px,-30px);
    opacity:0%;
}



footer{
    background-color: black;
    transform: translate(-8px,267px);
    width: 1366px;
    position: absolute;
    height:118px;
    transition: 0.75s;
    transition-timing-function:ease-in;
    
}

footer:hover{
    
   
     height:190px;
     transform: translate(-8px,195px);
    
   
}



footer > #fot_2:hover{
    transform: translate(-50px,-150px);  
    opacity: 100%;
    background-color:green;
   
}

footer:hover ~ #fot_3{
    transform: translate(-50px,-150px);  
    opacity: 100%;
    background-color:green;
   
}



